<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ishiro Kuroyama</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="mega-container">
    <div class="intro">
        <h1>Ishiro Kuroyama</h1>
        <h2>イシロ黒山</h2>
        <img src="/images/profile.jpg" alt="photo" class="photo">
        <h3>Manga Artist . 20s  .  Portugal</h3>
    </div>
   

<div class="right-container">
    <navbar class ="nav">
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/works.html">Works</a></li>
            
        </ul>
    </navbar>

    <div class="container">
        
        
      <div class="about">
            <h1>The origin behind the name</h1>
                <p>The name Ishiro was first a play on the common Japanese name "Ichirou" which means "first son" but later switched to Ishiro just because of the sound and pronunciation.It is also a play on the word "Ishi" which means "will" or "stone".</p>
                
                <p>Kuroyama is a combination of two elements. Kuro is black which is my favourite colour and Yama means montain which is one of my favourite places</p>
      </div>
     
    </div>
    <div class="footer">
        <ul>
            <li><a href=""><img src="/images/facebook-white.png" class="contacts" alt="fb-logo"></a></li>
            <li><a href=""><img src="/images/instagram-white.png" class="contacts" alt="insta-logo"></a></li>
            <li><a href=""><img src="/images/twitter-white.png" class="contacts" alt="twitter-logo"></a></li>
        </ul>
    </div>
    </div>
        <!--this is the footer -->
        
</div>
</body>
</html>