<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ishiro Kuroyama</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <navbar class ="nav">
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/works.html">Works</a></li>
            <li><a href="/views/contacts.html">Contacts</a></li>
        </ul>
    </navbar>

    <div class="container"></div>
        <h1>Ishiro Kuroyama</h1>
        <img src="photo" alt="photo" class="photo">
        <h2>Manga Artist - 20s - Portugal</h2>
      <div class="about">
            <h2>My path</h2>
            <p></p>
            <h2>Why Manga</h2>
            <p></p>
      </div>
        <!--this is the footer -->
        <div class="footer">
        <p>Lab project - Express</p>
        </div>
</body>
</html>