@import url(/assets/Kirana-Delova.ttf);

body{
    font-family: 'Kirana Delova', sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro{
    text-align: center;
    margin-top: 5%;
}

.photo{
    height: 300px;
    width: 280px;
    border-radius: 2px;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    


}


.nav ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    
    
}

.nav li{
    list-style: none;
    display: flex;
    
    
}

.nav a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: black;
}

.nav a:hover{
    
    border: 2px solid black;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.container{
    text-align: center;
}

.container h2{
    margin-bottom: 5%;
}
.about h1{
    font-size: 1.2em;
}

.about {
    width: 45%;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-bottom: 10%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
   
}

.about p{
    font-size: 1.1em;
    line-height: 22px;
}
.footer {
    background-color: rgb(41, 41, 41);
    
    color: white;
    height: 150px;
    
}

.text{
    text-align: center;
    margin-top: 45px;
    width: 70%;
    margin: auto;

    
}