@import url(/assets/Kirana-Delova.ttf);



/*Added animation bg */

@-webkit-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}

body{
    font-family: 'Kirana Delova', sans-serif;
    background: linear-gradient(181deg, #a4d1c5, #94b1a9, #78958d);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro{
    text-align: center;
    margin-top: 5%;
}

.photo{
    height: 300px;
    width: 280px;
    border-radius: 2px;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    


}


.nav ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    
    
}

.nav li{
    list-style: none;
    display: flex;
    
    
}

.nav a {
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    color: black;
}

.nav a:hover{
    
    border: 2px solid black;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.container{
    text-align: center;
}

.container h2{
    margin-bottom: 5%;
}
.about h1{
    font-size: 1.2em;
}

.about {
    width: 45%;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-bottom: 10%;
    border-radius: 10px;
    padding: 10px;
   
}

.about p{
    font-size: 1.1em;
    line-height: 22px;
}
.footer {
    background-color: rgb(41, 41, 41);
    
    color: white;
    height: 150px;
    
}

.text{
    text-align: center;
    margin-top: 45px;
    width: 70%;
    margin: auto;

    
}